<a href="https://colab.research.google.com/github/jane-rusakova/python_for_hw_tasks/blob/main/hw_10_4_apply%2C_groupby%2C_pivot_table.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#–î–æ–º–∞—à–Ω—î –∑–∞–≤–¥–∞–Ω–Ω—è –¥–æ —Ç–µ–º apply(), groupby(), pivot_table()

–í —Ü—å–æ–º—É –¥–æ–º–∞—à–Ω—å–æ–º—É –∑–∞–≤–¥–∞–Ω–Ω—ñ –ø—Ä–æ–¥–æ–≤–∂—É—î–º–æ –ø—Ä–∞—Ü—é–≤–∞—Ç–∏ –∑ –Ω–∞–±–æ—Ä–æ–º –¥–∞–Ω–∏—Ö `supermarket_sales.csv`.

0. –Ü–º–ø–æ—Ä—Ç—É–π—Ç–µ –±—ñ–±–ª—ñ–æ—Ç–µ–∫—É pandas —Ç–∞ –∑—á–∏—Ç–∞–π—Ç–µ –¥–∞–Ω—ñ —É –∑–º—ñ–Ω–Ω—É `df` —Ç–∏–ø—É `pandas.DataFrame`.

In [1]:
import pandas as pd

df = pd.read_csv("/content/supermarket_sales.csv")

print(type(df))

<class 'pandas.core.frame.DataFrame'>

1. –î–æ—Å–ª—ñ–¥–∏–º–æ, —è–∫–∏–π —Ñ—ñ–ª—ñ–∞–ª —Å—É–ø–µ—Ä–º–∞—Ä–∫–µ—Ç—É ('Branch') —î –Ω–∞–π–ø—Ä–∏–±—É—Ç–∫–æ–≤—ñ—à–∏–º. –î–ª—è —Ü—å–æ–≥–æ –∑–Ω–∞–π–¥—ñ—Ç—å —Å—É–º–∞—Ä–Ω–∏–π –ø—Ä–∏–±—É—Ç–æ–∫ –∑–∞ –∫–æ–∂–Ω–∏–º —Ñ—ñ–ª—ñ–∞–ª–æ–º —ñ –≤–∏—è–≤—ñ—Ç—å, —è–∫–∏–π —Ñ—ñ–ª—ñ–∞–ª –º–∞—î –Ω–∞–π–≤–∏—â–∏–π.

In [2]:
df.groupby("Branch")["gross income"].sum()

Branch
A    5057.1605
B    5057.0320
C    5265.1765
Name: gross income, dtype: float64

In [3]:
total_profit = df.groupby("Branch")["gross income"].sum()
print(total_profit)

# –ù–∞–π–ø—Ä–∏–±—É—Ç–∫–æ–≤—ñ—à–∏–π —Ñ—ñ–ª—ñ–∞–ª
print("\n–ù–∞–π–ø—Ä–∏–±—É—Ç–∫–æ–≤—ñ—à–∏–π —Ñ—ñ–ª—ñ–∞–ª:", total_profit.idxmax())

Branch
A    5057.1605
B    5057.0320
C    5265.1765
Name: gross income, dtype: float64

–ù–∞–π–ø—Ä–∏–±—É—Ç–∫–æ–≤—ñ—à–∏–π —Ñ—ñ–ª—ñ–∞–ª: C

2. –í —è–∫–æ–º—É –º—ñ—Å—Ç—ñ –∑–Ω–∞–π—Ö–æ–¥–∏—Ç—å—Å—è —Ñ—ñ–ª—ñ–∞–ª –∑ –Ω–∞–π–≤–∏—â–∏–º –ø—Ä–∏–±—É—Ç–∫–æ–º? –ú–æ–∂–µ –≤ —Ç–æ–º—É –º—ñ—Å—Ü—ñ –Ω–∞–º —Ä–æ–∑–º—ñ—Ç–∏—Å—Ç–∏ —â–µ –æ–¥–∏–Ω –º–∞–≥–∞–∑–∏–Ω.  
–ó–Ω–∞–π–¥—ñ—Ç—å –≤—ñ–¥–ø–æ–≤—ñ–¥—å –∑–∞ –¥–æ–ø–æ–º–æ–≥–æ—é —Ñ—É–Ω–∫—Ü—ñ–æ–Ω–∞–ª—É Pandas.

In [4]:
# –ö—Ä–æ–∫ 1: —Å—É–º–∞—Ä–Ω–∏–π –ø—Ä–∏–±—É—Ç–æ–∫ –∑–∞ —Ñ—ñ–ª—ñ–∞–ª–∞–º–∏
branch_profit = df.groupby("Branch")["gross income"].sum()

# –ö—Ä–æ–∫ 2: –Ω–∞–π–±—ñ–ª—å—à –ø—Ä–∏–±—É—Ç–∫–æ–≤–∏–π —Ñ—ñ–ª—ñ–∞–ª
best_branch = branch_profit.idxmax()
print("–ù–∞–π–ø—Ä–∏–±—É—Ç–∫–æ–≤—ñ—à–∏–π —Ñ—ñ–ª—ñ–∞–ª:", best_branch)

# –ö—Ä–æ–∫ 3: –º—ñ—Å—Ç–æ, –¥–µ –∑–Ω–∞—Ö–æ–¥–∏—Ç—å—Å—è –Ω–∞–π–ø—Ä–∏–±—É—Ç–∫–æ–≤—ñ—à–∏–π —Ñ—ñ–ª—ñ–∞–ª
best_city = df[df["Branch"] == best_branch]["City"].unique()[0]
print("–ú—ñ—Å—Ç–æ –∑ –Ω–∞–π–≤–∏—â–∏–º –ø—Ä–∏–±—É—Ç–∫–æ–º:", best_city)

–ù–∞–π–ø—Ä–∏–±—É—Ç–∫–æ–≤—ñ—à–∏–π —Ñ—ñ–ª—ñ–∞–ª: C
–ú—ñ—Å—Ç–æ –∑ –Ω–∞–π–≤–∏—â–∏–º –ø—Ä–∏–±—É—Ç–∫–æ–º: Naypyitaw

3.1. –°—Ç–≤–æ—Ä—ñ—Ç—å –∑–≤–æ–¥–Ω—É —Ç–∞–±–ª–∏—Ü—é, —è–∫–∞ –ø–æ–∫–∞–∂–µ, —Å–∫—ñ–ª—å–∫–∏ –ø–æ–∫—É–ø–æ–∫ (—ñ–Ω–≤–æ–π—Å—ñ–≤) –±—É–ª–æ –∑—Ä–æ–±–ª–µ–Ω–æ –≤ –∫–æ–∂–Ω—ñ–π –∑ —Ñ—ñ–ª—ñ–π (`Branch`) –∑–∞ —Ä—ñ–∑–Ω–∏–º–∏ –∫–∞—Ç–µ–≥–æ—Ä—ñ—è–º–∏ —Ç–æ–≤–∞—Ä—ñ–≤. –ó–∞–ø–∏—à—ñ—Ç—å —Ç–∞–±–ª–∏—Ü—é –≤ –∑–º—ñ–Ω–Ω—É `invoices_by_category` —ñ –≤–∏–≤–µ–¥—ñ—Ç—å –∑–º—ñ–Ω–Ω—É –Ω–∞ –µ–∫—Ä–∞–Ω.
–¶—è —Ç–∞–±–ª–∏—Ü—è –¥–æ–ø–æ–º–æ–∂–µ –ø—Ä–æ–∞–Ω–∞–ª—ñ–∑—É–≤–∞—Ç–∏, –≤ —è–∫—ñ–π —Ñ—ñ–ª—ñ—ó –∫—É–ø—É—é—Ç—å –Ω–∞–π–±—ñ–ª—å—à–µ —Ç–æ–≤–∞—Ä—ñ–≤ –∫–æ–∂–Ω–æ—ó –∑ –∫–∞—Ç–µ–≥–æ—Ä—ñ–π.

In [5]:
invoices_by_category = df.pivot_table(
    index="Branch",
    columns="Product line",
    values="Invoice ID",
    aggfunc="count"
)

invoices_by_category

Product line,Electronic accessories,Fashion accessories,Food and beverages,Health and beauty,Home and lifestyle,Sports and travel
Branch,,,,,,
A,60,51,58,47,65,59
B,55,62,50,53,50,62
C,55,65,66,52,45,45

–û—á—ñ–∫—É–≤–∞–Ω–∏–π —Ä–µ–∑—É–ª—å—Ç–∞—Ç:

![](https://drive.google.com/uc?export=view&id=1rueAdko6S3UxIHGtojetTxlES-EyM6Yb)

3.2. –í–∏–∫—Ä–∏—Å—Ç–æ–≤—É—é—á–∏ –∑–º—ñ–Ω–Ω—É `invoices_by_category` –¥–∞–π—Ç–µ –≤—ñ–¥–ø–æ–≤—ñ–¥—å –ø—Ä–æ–≥—Ä–∞–º–Ω–æ (—Ç–æ–±—Ç–æ –∑–Ω–∞—á–µ–Ω–Ω—è —Ç—Ä–µ–±–∞ –Ω–µ –ø—Ä–æ—Å—Ç–æ –∑–Ω–∞–π—Ç–∏ –æ—á–∏–º–∞, –∞ –≤–∏–≤–µ—Å—Ç–∏ –∑–∞ –¥–æ–ø–æ–º–æ–≥–æ—é –∫–æ–¥—É), –≤ —è–∫–æ–º—É —Ñ—ñ–ª—ñ–∞–ª—ñ –º–∞–≥–∞–∑–∏–Ω—É (`Branch`) –Ω–∞–π–±—ñ–ª—å—à–µ —ñ–Ω–≤–æ–π—Å—ñ–≤ —ñ–∑ –ø–æ–∫—É–ø–∫–æ—é —Ç–æ–≤–∞—Ä—ñ–≤ –∫–∞—Ç–µ–≥–æ—Ä—ñ—ó "–ï–ª–µ–∫—Ç—Ä–æ–Ω–Ω—ñ –∞–∫—Å–µ—Å—É–∞—Ä–∏" (`Electronic accessories`)?

In [7]:
top_branch = invoices_by_category["Electronic accessories"].idxmax()
top_value = invoices_by_category["Electronic accessories"].max()

print("–§—ñ–ª—ñ–∞–ª –∑ –Ω–∞–π–±—ñ–ª—å—à–æ—é –∫—ñ–ª—å–∫—ñ—Å—Ç—é —ñ–Ω–≤–æ–π—Å—ñ–≤ —É –∫–∞—Ç–µ–≥–æ—Ä—ñ—ó Electronic accessories:", top_branch)
print("–ö—ñ–ª—å–∫—ñ—Å—Ç—å —ñ–Ω–≤–æ–π—Å—ñ–≤:", top_value)

–§—ñ–ª—ñ–∞–ª –∑ –Ω–∞–π–±—ñ–ª—å—à–æ—é –∫—ñ–ª—å–∫—ñ—Å—Ç—é —ñ–Ω–≤–æ–π—Å—ñ–≤ —É –∫–∞—Ç–µ–≥–æ—Ä—ñ—ó Electronic accessories: A
–ö—ñ–ª—å–∫—ñ—Å—Ç—å —ñ–Ω–≤–æ–π—Å—ñ–≤: 60

4-6. **–¢–≤–æ—Ä—á–µ –∑–∞–≤–¥–∞–Ω–Ω—è –Ω–∞ —Ä–æ–∑–≤–∏—Ç–æ–∫ –∞–Ω–∞–ª—ñ—Ç–∏—á–Ω–æ–≥–æ –º–∏—Å–ª–µ–Ω–Ω—è**

–ö—Ä–æ–∫ 1. –°—Ñ–æ—Ä–º—É–ª—é–π—Ç–µ –¢–†–ò –ø–∏—Ç–∞–Ω–Ω—è (–≥—ñ–ø–æ—Ç–µ–∑–∏) –¥–æ –Ω–∞—è–≤–Ω–∏—Ö –¥–∞–Ω–∏—Ö, —è–∫—ñ –¥–æ–ø–æ–º–æ–≥–ª–∏ –± –≤–∞–º –∑—Ä–æ–∑—É–º—ñ—Ç–∏, —è–∫—ñ –∫–æ—Ä–∏—Å—Ç—É–≤–∞—á—ñ —â–æ, –¥–µ —Ç–∞ –∫–æ–ª–∏ –Ω–∞–π–±—ñ–ª—å—à–µ/–Ω–∞–π–º–µ–Ω—à–µ –∫—É–ø—É—é—Ç—å, –∞–±–∏ –¥–∞—Ç–∏ –Ω–∞ –æ—Å–Ω–æ–≤—ñ —Ü–∏—Ö –≥—ñ–ø–æ—Ç–µ–∑ —Ä–µ–∫–æ–º–µ–Ω–¥–∞—Ü—ñ—ó –±—ñ–∑–Ω–µ—Å—É. –ó–≤—ñ—Å–Ω–æ –ø–∏—Ç–∞–Ω–Ω—è –º–∞—é—Ç—å –±—É—Ç–∏ –Ω–µ —Ç–∏–º–∏, –Ω–∞ —è–∫—ñ –º–∏ –≤–∂–µ –≤—ñ–¥–ø–æ–≤—ñ–ª–∏ –≤ –∑–∞–≤–¥–∞–Ω–Ω—è—Ö –º–æ–¥—É–ª—é.

–ö—Ä–æ–∫ 2. –ó–Ω–∞–π–¥—ñ—Ç—å –≤—ñ–¥–ø–æ–≤—ñ–¥—ñ –Ω–∞ —Å–≤–æ—ó –ø–∏—Ç–∞–Ω–Ω—è –∑ –¥–æ–ø–æ–º–æ–≥–æ—é —Ñ—É–Ω–∫—Ü—ñ–æ–Ω–∞–ª—É pandas.

–ö—Ä–æ–∫ 3. –ù–∞–ø–∏—à—ñ—Ç—å, —è–∫ –≤—ñ–¥–ø–æ–≤—ñ–¥—å –Ω–∞ —Ü–µ –ø–∏—Ç–∞–Ω–Ω—è –º–æ–∂–µ –±—É—Ç–∏ –≤–∏–∫–æ—Ä–∏—Å—Ç–∞–Ω–∞ –¥–ª—è –ø—Ä–∏–π–Ω—è—Ç—Ç—è –±—ñ–∑–Ω–µ—Å —Ä—ñ—à–µ–Ω—å.   
   
 –ü–∏—Ç–∞–Ω–Ω—è –º–æ–∂—É—Ç—å –±—É—Ç–∏ –±—É–¥—å-—è–∫–æ—ó —Å–∫–ª–∞–¥–Ω–æ—Å—Ç—ñ, –∞–ª–µ —ó—Ö –º–∞—î –±—É—Ç–∏ 3. –ö–æ–∂–Ω–µ –ø–∏—Ç–∞–Ω–Ω—è –æ—Ü—ñ–Ω—é—î—Ç—å—Å—è —è–∫ 1 –∑–∞–≤–¥–∞–Ω–Ω—è. –ë–µ–∑ –≤–∏–∫–æ–Ω–∞–Ω–Ω—è —Ü—å–æ–≥–æ –∑–∞–≤–¥–∞–Ω–Ω—è –î–ó –Ω–µ –ø—Ä–∏–π–º–∞—î—Ç—å—Å—è. –Ø–∫—â–æ —î –ø–∏—Ç–∞–Ω–Ω—è —â–æ–¥–æ –≤–∏–∫–æ–Ω–∞–Ω–Ω—è - –ø–∏—à—ñ—Ç—å —É —á–∞—Ç üôå

**–ì—ñ–ø–æ—Ç–µ–∑–∞ 1: –Ø–∫—ñ –∫–∞—Ç–µ–≥–æ—Ä—ñ—ó —Ç–æ–≤–∞—Ä—ñ–≤ –æ—Ç—Ä–∏–º—É—é—Ç—å –Ω–∞–π–≤–∏—â—ñ —Å–µ—Ä–µ–¥–Ω—ñ —Ä–µ–π—Ç–∏–Ω–≥–∏ –≤—ñ–¥ –ø–æ–∫—É–ø—Ü—ñ–≤?**

In [9]:
avg_rating_by_category = df.groupby("Product line")["Rating"].mean().sort_values(ascending=False)
avg_rating_by_category

Product line
Food and beverages        7.113218
Fashion accessories       7.029213
Health and beauty         7.003289
Electronic accessories    6.924706
Sports and travel         6.916265
Home and lifestyle        6.837500
Name: Rating, dtype: float64

–ö–∞—Ç–µ–≥–æ—Ä—ñ—è ‚ÄúFood and beverages‚Äù –º–∞—î –Ω–∞–π–≤–∏—â–∏–π —Å–µ—Ä–µ–¥–Ω—ñ–π —Ä–µ–π—Ç–∏–Ω–≥ —Å–µ—Ä–µ–¥ —É—Å—ñ—Ö —à–µ—Å—Ç–∏ —Ç–æ–≤–∞—Ä–Ω–∏—Ö –Ω–∞–ø—Ä—è–º—ñ–≤. –¶–µ –æ–∑–Ω–∞—á–∞—î, —â–æ –ø–æ–∫—É–ø—Ü—ñ –Ω–∞–π–±—ñ–ª—å—à –∑–∞–¥–æ–≤–æ–ª–µ–Ω—ñ –ø—Ä–æ–¥—É–∫—Ç–∞–º–∏ —Ö–∞—Ä—á—É–≤–∞–Ω–Ω—è, —Ç–∞ –Ω–∞–π—á–∞—Å—Ç—ñ—à–µ –∑–∞–ª–∏—à–∞—é—Ç—å —Ö–æ—Ä–æ—à—ñ –æ—Ü—ñ–Ω–∫–∏ –ø—ñ—Å–ª—è –ø–æ–∫—É–ø–∫–∏. –†–µ–∫–æ–º–µ–Ω–¥–∞—Ü—ñ—è: –∑–º—ñ—Ü–Ω—é–≤–∞—Ç–∏ –º–∞—Ä–∫–µ—Ç–∏–Ω–≥ —É –∫–∞—Ç–µ–≥–æ—Ä—ñ—ó Food & Beverages

–ù–∞–π–Ω–∏–∂—á–∏–π —Ä–µ–π—Ç–∏–Ω–≥ –º–∞—î –∫–∞—Ç–µ–≥–æ—Ä—ñ—è ‚ÄúHome and lifestyle‚Äù, —â–æ –º–æ–∂–µ —Å–≤—ñ–¥—á–∏—Ç–∏ –ø—Ä–æ –Ω–∏–∂—á—É —è–∫—ñ—Å—Ç—å —Ç–æ–≤–∞—Ä—ñ–≤, –≥—ñ—Ä—à–∏–π –¥–æ—Å–≤—ñ–¥ –ø–æ–∫—É–ø–∫–∏, –∞–±–æ –Ω–µ–≤—ñ–¥–ø–æ–≤—ñ–¥–Ω—ñ—Å—Ç—å –æ—á—ñ–∫—É–≤–∞–Ω–Ω—è–º –ø–æ–∫—É–ø—Ü—ñ–≤. –†–µ–∫–æ–º–µ–Ω–¥–∞—Ü—ñ—è: –ø–µ—Ä–µ–≤—ñ—Ä–∏—Ç–∏ –ø—Ä–æ–±–ª–µ–º–Ω—ñ —Ç–æ—á–∫–∏ –≤ –∫–∞—Ç–µ–≥–æ—Ä—ñ—ó Home and lifestyle

**–ì—ñ–ø–æ—Ç–µ–∑–∞ 2: –Ø–∫—ñ –º–µ—Ç–æ–¥–∏ –æ–ø–ª–∞—Ç–∏ –ø—Ä–∏–≤–æ–¥—è—Ç—å –Ω–∞–π–±—ñ–ª—å—à–∏–π –¥–æ—Ö—ñ–¥?**

In [11]:
payment_profit_by_city = df.groupby(["City", "Payment"])["Total"].sum().unstack()
payment_profit_by_city

Payment          Cash  Credit card    Ewallet
City
Mandalay   35339.4615   37344.8565  33513.354
Naypyitaw  43085.8575   30327.4650  37155.384
Yangon     33781.2510   33094.7505  39324.369

–ú–µ—Ç–æ–¥–∏ –æ–ø–ª–∞—Ç–∏ –∑–Ω–∞—á–Ω–æ –≤—ñ–¥—Ä—ñ–∑–Ω—è—é—Ç—å—Å—è –ø–æ –º—ñ—Å—Ç–∞—Ö:

Mandalay ‚Üí –ª—ñ–¥–µ—Ä—Å—Ç–≤–æ –∫–∞—Ä—Ç–æ–∫
Naypyitaw ‚Üí –¥–æ–º—ñ–Ω—É–≤–∞–Ω–Ω—è –≥–æ—Ç—ñ–≤–∫–∏
Yangon ‚Üí —Ü–∏—Ñ—Ä–æ–≤—ñ –≥–∞–º–∞–Ω—Ü—ñ

–û–¥–∏–Ω —É–Ω—ñ–≤–µ—Ä—Å–∞–ª—å–Ω–∏–π –ø—ñ–¥—Ö—ñ–¥ —Ç—É—Ç –Ω–µ —Å–ø—Ä–∞—Ü—é—î. –ø–æ—Ç—Ä—ñ–±–Ω–æ –∞–Ω–∞–ª—ñ–∑—É–≤–∞—Ç–∏ –¥–∞–ª—ñ. –ù–∞–ø—Ä–∏–∫–ª–∞–¥, –º–µ—Ç–æ–¥–∏ –æ–ø–ª–∞—Ç–∏ –º–æ–∂—É—Ç—å –≤—ñ–¥—Ä—ñ–∑–Ω—è—Ç–∏—Å—è –ø–æ –∫–æ–º—ñ—Å—ñ—ó.
–Ø–∫—â–æ eWallet –∞–±–æ –∫–∞—Ä—Ç–∫–∏ –º–∞—é—Ç—å –º–µ–Ω—à—É –∫–æ–º—ñ—Å—ñ—é, –º–æ–∂–Ω–∞ —Å–≤—ñ–¥–æ–º–æ —Å—Ç–∏–º—É–ª—é–≤–∞—Ç–∏ –ø–µ—Ä–µ—Ö—ñ–¥, –∑–º–µ–Ω—à—É—é—á–∏ –≤–∏—Ç—Ä–∞—Ç–∏ –º–µ—Ä–µ–∂—ñ.

**–ì—ñ–ø–æ—Ç–µ–∑–∞ 3. –Ø–∫ —Å–µ–∑–æ–Ω–Ω—ñ—Å—Ç—å (–º—ñ—Å—è—Ü—å) –≤–ø–ª–∏–≤–∞—î –Ω–∞ –æ–±—Å—è–≥–∏ –ø—Ä–æ–¥–∞–∂—ñ–≤?**

In [12]:
df["Month"] = pd.to_datetime(df["Date"]).dt.month
df.groupby("Month")["Total"].sum()

Month
1    116291.868
2     97219.374
3    109455.507
Name: Total, dtype: float64

**–°—ñ—á–µ–Ω—å** ‚Äî –Ω–∞–π–±—ñ–ª—å—à –ø—Ä–∏–±—É—Ç–∫–æ–≤–∏–π –º—ñ—Å—è—Ü—å

–¶–µ –ø—ñ–∫ –ø—Ä–æ–¥–∞–∂—ñ–≤ —É –ø–µ—Ä—à–∏–π –∫–≤–∞—Ä—Ç–∞–ª.


**–õ—é—Ç–∏–π** ‚Äî –Ω–∞–π—Å–ª–∞–±—à–∏–π –º—ñ—Å—è—Ü—å

–ü—Ä–æ–¥–∞–∂—ñ —Å—É—Ç—Ç—î–≤–æ –ø—Ä–æ—Å—ñ–¥–∞—é—Ç—å.


**–ë–µ—Ä–µ–∑–µ–Ω—å** ‚Äî —Å—Ç–∞–±—ñ–ª—ñ–∑–∞—Ü—ñ—è –∑–Ω–æ–≤—É –Ω–∞ –≤–∏—Å–æ–∫–æ–º—É —Ä—ñ–≤–Ω—ñ


–†–æ–∑—É–º—ñ–Ω–Ω—è —Å–µ–∑–æ–Ω–Ω–æ—Å—Ç—ñ –¥–æ–∑–≤–æ–ª—è—î —Å—É–ø–µ—Ä–º–∞—Ä–∫–µ—Ç—É:

- –∫—Ä–∞—â–µ –ø–ª–∞–Ω—É–≤–∞—Ç–∏ –∞–∫—Ü—ñ—ó

- –ø—ñ–¥—Å–∏–ª—é–≤–∞—Ç–∏ —Å–ª–∞–±–∫—ñ –º—ñ—Å—è—Ü—ñ

- –º–∞—Å—à—Ç–∞–±—É–≤–∞—Ç–∏ —Å–∏–ª—å–Ω—ñ

- –≥–Ω—É—á–∫–æ —É–ø—Ä–∞–≤–ª—è—Ç–∏ –∑–∞–ø–∞—Å–∞–º–∏